/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 4rem;
    min-height: 100vh;
}

#home {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10rem 0;
}

.headshot {
    width: 10px; /* Adjust the width as needed */
    height: auto;
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 1rem;
}

#home h1 {
    font-size: 3rem;
    color: #111;
}

#projects {
    background-color: white;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.project {
    width: 300px;
}

.project img {
    width: 100%;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
}

#publications {
    margin-top: 2rem;
}

.publication {
    margin-bottom: 1.5rem;
}

.publication h3 {
    font-size: 1.5rem;
}

.publication p {
    font-size: 1rem;
    color: #555;
}

html {
    scroll-behavior: smooth;
}


