/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

nav {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 4rem;
    min-height: 100vh;
}

#home {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10rem 0;
}

.headshot {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#home h1 {
    font-size: 3rem;
    color: #111;
}

.container {
    max-width: 800px; /* Control the maximum width */
    margin: 0 auto; /* Center the content horizontally */
    text-align: left; /* Left-align text inside */
}

#about {
    padding-bottom: 1rem; /* Adjust this value to reduce space */
}

#projects {
    padding-top: 2rem; /* Adjust this value to reduce space */
}

.project {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 1.8rem;
    color: #333;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.project ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project img {
    width: 100%;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1rem 0;
}

#publication-list {
    margin-top: 2rem;
}

#publication-list .publication {
    margin-bottom: 1.5rem;
}

html {
    scroll-behavior: smooth;
}
